# Lab 1 
## Himanshu Neb

In [ ]:
s = "Hi there Class!"
lt=s.split()
lt

In [ ]:
print("The diameter of Earth is {} kilometers.".format(12742))

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

In [ ]:
def grabdom(str1):
    lt=str1.split('@')
    print("@", lt[1])
grabdom("user@domain.com")

In [ ]:
def ispres(str1):
    str2='dog'
    for i in range(len(str1)-2):
#         print(i, j)
        for j in range(3):
#             print(i, j)
            if str1[i+j]!=str2[j]:
                break;
            if j==2:
                return True
ispres("isdog")

In [ ]:
def ispres(str1):
    str2='dog'
    val=0
    for i in range(len(str1)-2):
#         print(i, j)
        for j in range(3):
#             print(i, j)
            if str1[i+j]!=str2[j]:
                break;
            if j==2:
                val+=1
    return val
print(ispres("iamatman"))

In [ ]:
seq = ['soup','dog','salad','cat','great']
result = list(filter(lambda i: (i[0]=='s'), seq))
result

In [ ]:
def caught_speeding(val, bd):
    if bd:
        val-=5
    if val<=60:
        return "No challan "
    elif val<=80:
        return " small challan"
    else:
        return "heavy challan"
print(caught_speeding(81,True))
print(caught_speeding(81,False))

In [ ]:
lt1 = ["M", "na", "i", "She"]
lt2 = ["y", "me", "s", "lly"]
expout=[lt1[i]+lt2[i] for i in range(len(lt1))]
expout

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
expout=[]
for i in list1:
    for j in list2:
        expout.append(i+j)
expout

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1=[i for i in list1 if i!=20]
list1

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
    print("yes")

In [1]:
n=10
print(0.0246 * (pow(10, n) - 1 - (9 * n)))

245999997.7614

# Lab 2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sal=pd.read_csv("Salaries.csv")

In [ ]:
sal.head(2)

In [ ]:
sal.info()

In [ ]:
pd.to_numeric(sal['BasePay'], errors='coerce').mean()

In [ ]:

pd.to_numeric(sal['OvertimePay'], errors='coerce').max()

In [ ]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

In [ ]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

In [ ]:
sal[sal['TotalPayBenefits']  == sal['TotalPayBenefits'].min()]

In [ ]:
newdf=sal[['Year', 'BasePay']]

In [ ]:
for k in [2011, 2012, 2013, 2014]:
    odf=pd.DataFrame(columns=['Year', 'BasePay'])
    for i in range(len(newdf)):
        x=newdf.iloc[i, 0]
        y=newdf.iloc[i, 1]
        if x==2011:
            odf.append({'Year':x, "BasePay": y},ignore_index=True )
#             print(type(y))
    print("for ", x," ",pd.to_numeric(odf['BasePay'], errors='coerce').mean())

In [ ]:
sal['JobTitle'].nunique()

In [ ]:
grouped = sal.groupby('JobTitle').count()
top5 = grouped.sort_values(by='Id',  ascending=False)[:5]
top5['Id']

In [ ]:
copied_sal = sal[sal['Year'] == 2013]
group = copied_sal.groupby('JobTitle').count()
count = group[group['Id'] == 1]
count.count()['Id']

In [ ]:
def find_chief(job_title):    
    if 'chief' in job_title.lower().split():
        return True
    else:
        return False

sal = pd.read_csv('Salaries.csv')

sum(sal['JobTitle'].apply(lambda x: find_chief(x)))

In [ ]:
sal['title_len'] = sal['JobTitle'].apply(len)

sal[['title_len', 'TotalPayBenefits']].corr()