# chapter 11

In [1]:
# build the matrix
theMatrix <- matrix(1:9, nrow=3)

In [2]:
theMatrix

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [3]:
# sum the rows
apply(theMatrix, 1, sum)

[1] 12 15 18

In [4]:
apply(theMatrix, 2, sum)

[1]  6 15 24

In [5]:
rowSums(theMatrix)

[1] 12 15 18

In [6]:
colSums(theMatrix)

[1]  6 15 24

In [7]:
theMatrix[2, 1] <- NA
apply(theMatrix, 1, sum)

[1] 12 NA 18

In [8]:
apply(theMatrix, 1, sum, na.rm=TRUE)

[1] 12 13 18

In [9]:
rowSums(theMatrix)

[1] 12 NA 18

In [10]:
rowSums(theMatrix, na.rm=TRUE)

[1] 12 13 18

In [11]:
theList <- list(A=matrix(1:9, 3), B=1:5, C=matrix(1:4, 2), D=2)
lapply(theList, sum)

$A
[1] 45

$B
[1] 15

$C
[1] 10

$D
[1] 2

In [12]:
sapply(theList, sum)

 A  B  C  D
45 15 10  2

In [13]:
theNames <- c("Jared", "Deb", "Paul")
lapply(theNames, nchar)

[[1]]
[1] 5

[[2]]
[1] 3

[[3]]
[1] 4

In [14]:
## build two lists
firstList <- list(A=matrix(1:16, 4), B=matrix(1:16, 2), C=1:5)
secondList <- list(A=matrix(1:16, 4), B=matrix(1:16, 8), C=15:1)
# test element-by-element if they are identical
mapply(identical, firstList, secondList)

    A     B     C
 TRUE FALSE FALSE

In [15]:
## build a simple function
## it adds the number of rows (or length) of each corresponding element
simpleFunc <- function(x, y)
{
NROW(x) + NROW(y)
}
# apply the function to the two lists
mapply(simpleFunc, firstList, secondList)

 A  B  C
 8 10 20

In [16]:
data(diamonds, package='ggplot2')
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [17]:
aggregate(price ~ cut, diamonds, mean)

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [18]:
aggregate(price ~ cut + color, diamonds, mean)

   cut       color price
1  Fair      D     4291.061
2  Good      D     3405.382
3  Very Good D     3470.467
4  Premium   D     3631.293
5  Ideal     D     2629.095
6  Fair      E     3682.312
7  Good      E     3423.644
8  Very Good E     3214.652
9  Premium   E     3538.914
10 Ideal     E     2597.550
11 Fair      F     3827.003
12 Good      F     3495.750
13 Very Good F     3778.820
14 Premium   F     4324.890
15 Ideal     F     3374.939
16 Fair      G     4239.255
17 Good      G     4123.482
18 Very Good G     3872.754
19 Premium   G     4500.742
20 Ideal     G     3720.706
21 Fair      H     5135.683
22 Good      H     4276.255
23 Very Good H     4535.390
24 Premium   H     5216.707
25 Ideal     H     3889.335
26 Fair      I     4685.446
27 Good      I     5078.533
28 Very Good I     5255.880
29 Premium   I     5946.181
30 Ideal     I     4451.970
31 Fair      J     4975.655
32 Good      J     4574.173
33 Very Good J     5103.513
34 Premium   J     6294.592
35 Ideal     J     4918.186

In [19]:
aggregate(cbind(price, carat) ~ cut, diamonds, mean)

  cut       price    carat
1 Fair      4358.758 1.0461366
2 Good      3928.864 0.8491847
3 Very Good 3981.760 0.8063814
4 Premium   4584.258 0.8919549
5 Ideal     3457.542 0.7028370

In [20]:
aggregate(cbind(price, carat) ~ cut + color, diamonds, mean)

   cut       color price    carat
1  Fair      D     4291.061 0.9201227
2  Good      D     3405.382 0.7445166
3  Very Good D     3470.467 0.6964243
4  Premium   D     3631.293 0.7215471
5  Ideal     D     2629.095 0.5657657
6  Fair      E     3682.312 0.8566071
7  Good      E     3423.644 0.7451340
8  Very Good E     3214.652 0.6763167
9  Premium   E     3538.914 0.7177450
10 Ideal     E     2597.550 0.5784012
11 Fair      F     3827.003 0.9047115
12 Good      F     3495.750 0.7759296
13 Very Good F     3778.820 0.7409612
14 Premium   F     4324.890 0.8270356
15 Ideal     F     3374.939 0.6558285
16 Fair      G     4239.255 1.0238217
17 Good      G     4123.482 0.8508955
18 Very Good G     3872.754 0.7667986
19 Premium   G     4500.742 0.8414877
20 Ideal     G     3720.706 0.7007146
21 Fair      H     5135.683 1.2191749
22 Good      H     4276.255 0.9147293
23 Very Good H     4535.390 0.9159485
24 Premium   H     5216.707 1.0164492
25 Ideal     H     3889.335 0.7995249
26 Fair      I     4685.446 1.1980571
27 Good      I     5078.533 1.0572222
28 Very Good I     5255.880 1.0469518
29 Premium   I     5946.181 1.1449370
30 Ideal     I     4451.970 0.9130291
31 Fair      J     4975.655 1.3411765
32 Good      J     4574.173 1.0995440
33 Very Good J     5103.513 1.1332153
34 Premium   J     6294.592 1.2930941
35 Ideal     J     4918.186 1.0635937

In [21]:
library(plyr)
head(baseball)

    id        year stint team lg g  ab  r  h  X2b ... rbi sb cs bb so ibb hbp
4   ansonca01 1871 1     RC1     25 120 29 39 11  ... 16  6  2  2  1  NA  NA
44  forceda01 1871 1     WS3     32 162 45 45  9  ... 29  8  0  4  0  NA  NA
68  mathebo01 1871 1     FW1     19  89 15 24  3  ... 10  2  1  2  0  NA  NA
99  startjo01 1871 1     NY2     33 161 35 58  5  ... 34  4  2  3  0  NA  NA
102 suttoez01 1871 1     CL1     29 128 35 45  3  ... 23  3  1  1  0  NA  NA
106 whitede01 1871 1     CL1     29 146 40 47  6  ... 21  2  2  4  1  NA  NA
    sh sf gidp
4   NA NA NA
44  NA NA NA
68  NA NA NA
99  NA NA NA
102 NA NA NA
106 NA NA NA

In [22]:
# subsetting with [ is faster than using ifelse
baseball$sf[baseball$year < 1954] <- 0
# check that it worked
any(is.na(baseball$sf))

[1] FALSE

In [23]:
# set NA hbp's to 0
baseball$hbp[is.na(baseball$hbp)] <- 0
# check that it worked
any(is.na(baseball$hbp))

[1] FALSE

In [24]:
# only keep players with at least 50 at bats in a season
baseball <- baseball[baseball$ab >= 50, ]

In [25]:
# calculate OBP
baseball$OBP <- with(baseball, (h + bb + hbp) / (ab + bb + hbp + sf))
tail(baseball)

      id        year stint team lg g   ab  r  h   X2b ... sb cs bb  so  ibb hbp
89499 claytro01 2007 1     TOR  AL  69 189 23  48 14  ... 2  1   14  50  0  1
89502 cirilje01 2007 1     MIN  AL  50 153 18  40  9  ... 2  0   15  13  0  1
89521 bondsba01 2007 1     SFN  NL 126 340 75  94 14  ... 5  0  132  54 43  3
89523 biggicr01 2007 1     HOU  NL 141 517 68 130 31  ... 4  3   23 112  0  3
89530 ausmubr01 2007 1     HOU  NL 117 349 38  82 16  ... 6  1   37  74  3  6
89533 aloumo01  2007 1     NYN  NL  87 328 51 112 19  ... 3  0   27  30  5  2
      sh sf gidp OBP
89499 3  3   8   0.3043478
89502 3  2   9   0.3274854
89521 0  2  13   0.4800839
89523 7  5   5   0.2846715
89530 4  1  11   0.3180662
89533 0  3  13   0.3916667

In [26]:
# this function assumes that the column names for the data are as below
obp <- function(data)
{
c(OBP=with(data, sum(h + bb + hbp) / sum(ab + bb + hbp + sf)))
}

 # use ddply to calculate career OBP for each player
 careerOBP <- ddply(baseball, .variables="id", .fun=obp)
 # sort the results by OBP
 careerOBP <- careerOBP[order(careerOBP$OBP, decreasing=TRUE), ]
 # see the results
 head(careerOBP, 10)

     id        OBP
1089 willite01 0.4816861
875  ruthba01  0.4742209
658  mcgrajo01 0.4657478
356  gehrilo01 0.4477848
85   bondsba01 0.4444622
476  hornsro01 0.4339068
184  cobbty01  0.4329655
327  foxxji01  0.4290509
953  speaktr01 0.4283386
191  collied01 0.4251246

In [27]:
theList <- list(A=matrix(1:9, 3), B=1:5, C=matrix(1:4, 2), D=2)
lapply(theList, sum)

$A
[1] 45

$B
[1] 15

$C
[1] 10

$D
[1] 2

In [28]:
llply(theList, sum)

$A
[1] 45

$B
[1] 15

$C
[1] 10

$D
[1] 2

In [29]:
identical(lapply(theList, sum), llply(theList, sum))

[1] TRUE

In [30]:
sapply(theList, sum)

 A  B  C  D
45 15 10  2

In [32]:
laply(theList, sum )

[1] 45 15 10  2

In [39]:
aggregate(price ~ cut, diamonds, each(median)) # USE ONLY ONE FUNCTON IN HERE ELSE WILL GIVE ERROR

  cut       price
1 Fair      3282.0
2 Good      3050.5
3 Very Good 2648.0
4 Premium   3185.0
5 Ideal     1810.0

In [40]:
system.time(dlply(baseball, "id", nrow))

   user  system elapsed
   0.20    0.00    0.25

In [41]:
iBaseball <- idata.frame(baseball)
system.time(dlply(iBaseball, "id", nrow))

   user  system elapsed
   0.23    0.00    0.27

In [42]:
library(data.table)
# create a regular data.frame
theDF <- data.frame(A=1:10,
B=letters[1:10],
C=LETTERS[11:20],
D=rep(c("One", "Two", "Three"), length.out=10))
# create a data.table
theDT <- data.table(A=1:10,
B=letters[1:10],
C=LETTERS[11:20],
D=rep(c("One", "Two", "Three"), length.out=10))
# print them and compare
theDF

   A  B C D
1   1 a K One
2   2 b L Two
3   3 c M Three
4   4 d N One
5   5 e O Two
6   6 f P Three
7   7 g Q One
8   8 h R Two
9   9 i S Three
10 10 j T One

In [43]:
class(theDF$B)

[1] "factor"

In [44]:
class(theDT$B)

[1] "character"

In [78]:
diamondsDT<-data.table(diamonds)
head(diamondsDT)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [79]:
theDT[1:2, ]

  A B C D
1 1 a K One
2 4 d N One

In [80]:
theDT[theDT$A>=7, ]

  A  B C D
1  7 g Q One
2 10 j T One
3  9 i S Three
4  8 h R Two

In [81]:
theDT[A>=7,]

  A  B C D
1  7 g Q One
2 10 j T One
3  9 i S Three
4  8 h R Two

In [82]:
theDT[, list(A, C)]

   A  C
1   1 K
2   4 N
3   7 Q
4  10 T
5   3 M
6   6 P
7   9 S
8   2 L
9   5 O
10  8 R

In [83]:
# just one column
theDT[, B]

 [1] "a" "d" "g" "j" "c" "f" "i" "b" "e" "h"

In [84]:
theDT[, list(B)]

   B
1  a
2  d
3  g
4  j
5  c
6  f
7  i
8  b
9  e
10 h

In [85]:
theDT[, "B", with=FALSE]

   B
1  a
2  d
3  g
4  j
5  c
6  f
7  i
8  b
9  e
10 h

In [86]:
theDT[, c("A", "C"), with=FALSE]

   A  C
1   1 K
2   4 N
3   7 Q
4  10 T
5   3 M
6   6 P
7   9 S
8   2 L
9   5 O
10  8 R

In [87]:
theCols <- c("A", "C")
theDT[, theCols, with=FALSE]

   A  C
1   1 K
2   4 N
3   7 Q
4  10 T
5   3 M
6   6 P
7   9 S
8   2 L
9   5 O
10  8 R

In [88]:
# set the key
setkey(theDT, D)
# show the data.table again
theDT

   A  B C D
1   1 a K One
2   4 d N One
3   7 g Q One
4  10 j T One
5   3 c M Three
6   6 f P Three
7   9 i S Three
8   2 b L Two
9   5 e O Two
10  8 h R Two

In [89]:
key(theDT)

[1] "D"

In [90]:
tables()

         NAME   NROW NCOL MB                                    COLS       KEY
1:  diamondDT 53,940   10  3 carat,cut,color,clarity,depth,table,... cut,color
2: diamondsDT 53,940   10  3 carat,cut,color,clarity,depth,table,...
3:      theDT     10    4  0                                 A,B,C,D         D
Total: 6MB

In [91]:
theDT["One", ]

  A  B C D
1  1 a K One
2  4 d N One
3  7 g Q One
4 10 j T One

In [92]:
theDT[c("One", "Two"), ]

  A  B C D
1  1 a K One
2  4 d N One
3  7 g Q One
4 10 j T One
5  2 b L Two
6  5 e O Two
7  8 h R Two

In [94]:
# set the key
setkey(diamondsDT, cut, color)

In [95]:
head(diamondsDT)

  carat cut  color clarity depth table price x    y    z
1 0.75  Fair D     SI2     64.6  57    2848  5.74 5.72 3.70
2 0.71  Fair D     VS2     56.9  65    2858  5.89 5.84 3.34
3 0.90  Fair D     SI2     66.9  57    2885  6.02 5.90 3.99
4 1.00  Fair D     SI2     69.3  58    2974  5.96 5.87 4.10
5 1.01  Fair D     SI2     64.6  56    3003  6.31 6.24 4.05
6 0.73  Fair D     VS1     66.0  54    3047  5.56 5.66 3.70

In [96]:
# access some rows
head(diamondsDT[J("Ideal", "E"), ])

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55     326  3.95 3.98 2.43
2 0.26  Ideal E     VVS2    62.9  58     554  4.02 4.06 2.54
3 0.70  Ideal E     SI1     62.5  57    2757  5.70 5.72 3.57
4 0.59  Ideal E     VVS2    62.0  55    2761  5.38 5.43 3.35
5 0.74  Ideal E     SI2     62.2  56    2761  5.80 5.84 3.62
6 0.70  Ideal E     VS2     60.7  58    2762  5.73 5.76 3.49

In [97]:
head(diamondsDT[J("Ideal", c("E", "D"))])

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55     326  3.95 3.98 2.43
2 0.26  Ideal E     VVS2    62.9  58     554  4.02 4.06 2.54
3 0.70  Ideal E     SI1     62.5  57    2757  5.70 5.72 3.57
4 0.59  Ideal E     VVS2    62.0  55    2761  5.38 5.43 3.35
5 0.74  Ideal E     SI2     62.2  56    2761  5.80 5.84 3.62
6 0.70  Ideal E     VS2     60.7  58    2762  5.73 5.76 3.49

In [98]:
aggregate(price ~ cut, diamonds, mean)

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [99]:
diamondsDT[, mean(price), by=cut]

  cut       V1
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [100]:
diamondsDT[, list(price=mean(price)), by=cut]

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [101]:
diamondsDT[, mean(price), by=list(cut, color)]

   cut       color V1
1  Fair      D     4291.061
2  Fair      E     3682.312
3  Fair      F     3827.003
4  Fair      G     4239.255
5  Fair      H     5135.683
6  Fair      I     4685.446
7  Fair      J     4975.655
8  Good      D     3405.382
9  Good      E     3423.644
10 Good      F     3495.750
11 Good      G     4123.482
12 Good      H     4276.255
13 Good      I     5078.533
14 Good      J     4574.173
15 Very Good D     3470.467
16 Very Good E     3214.652
17 Very Good F     3778.820
18 Very Good G     3872.754
19 Very Good H     4535.390
20 Very Good I     5255.880
21 Very Good J     5103.513
22 Premium   D     3631.293
23 Premium   E     3538.914
24 Premium   F     4324.890
25 Premium   G     4500.742
26 Premium   H     5216.707
27 Premium   I     5946.181
28 Premium   J     6294.592
29 Ideal     D     2629.095
30 Ideal     E     2597.550
31 Ideal     F     3374.939
32 Ideal     G     3720.706
33 Ideal     H     3889.335
34 Ideal     I     4451.970
35 Ideal     J     4918.186

In [102]:
diamondsDT[, list(price=mean(price), carat=mean(carat)), by=cut]

  cut       price    carat
1 Fair      4358.758 1.0461366
2 Good      3928.864 0.8491847
3 Very Good 3981.760 0.8063814
4 Premium   4584.258 0.8919549
5 Ideal     3457.542 0.7028370

In [104]:
diamondsDT[, list(price=mean(price), carat=mean(carat),
caratSum=sum(carat)), by=cut]

  cut       price    carat     caratSum
1 Fair      4358.758 1.0461366  1684.28
2 Good      3928.864 0.8491847  4166.10
3 Very Good 3981.760 0.8063814  9742.70
4 Premium   4584.258 0.8919549 12300.95
5 Ideal     3457.542 0.7028370 15146.84

In [105]:
diamondsDT[, list(price=mean(price), carat=mean(carat)),
by=list(cut, color)]

   cut       color price    carat
1  Fair      D     4291.061 0.9201227
2  Fair      E     3682.312 0.8566071
3  Fair      F     3827.003 0.9047115
4  Fair      G     4239.255 1.0238217
5  Fair      H     5135.683 1.2191749
6  Fair      I     4685.446 1.1980571
7  Fair      J     4975.655 1.3411765
8  Good      D     3405.382 0.7445166
9  Good      E     3423.644 0.7451340
10 Good      F     3495.750 0.7759296
11 Good      G     4123.482 0.8508955
12 Good      H     4276.255 0.9147293
13 Good      I     5078.533 1.0572222
14 Good      J     4574.173 1.0995440
15 Very Good D     3470.467 0.6964243
16 Very Good E     3214.652 0.6763167
17 Very Good F     3778.820 0.7409612
18 Very Good G     3872.754 0.7667986
19 Very Good H     4535.390 0.9159485
20 Very Good I     5255.880 1.0469518
21 Very Good J     5103.513 1.1332153
22 Premium   D     3631.293 0.7215471
23 Premium   E     3538.914 0.7177450
24 Premium   F     4324.890 0.8270356
25 Premium   G     4500.742 0.8414877
26 Premium   H     5216.707 1.0164492
27 Premium   I     5946.181 1.1449370
28 Premium   J     6294.592 1.2930941
29 Ideal     D     2629.095 0.5657657
30 Ideal     E     2597.550 0.5784012
31 Ideal     F     3374.939 0.6558285
32 Ideal     G     3720.706 0.7007146
33 Ideal     H     3889.335 0.7995249
34 Ideal     I     4451.970 0.9130291
35 Ideal     J     4918.186 1.0635937

#  chapter 2

In [106]:
library(magrittr)
data(diamonds, package='ggplot2')
dim(head(diamonds, n=4))

[1]  4 10

In [107]:
diamonds %>% head(4) %>% dim

[1]  4 10

In [108]:
class(diamonds)

[1] "tbl_df"     "tbl"        "data.frame"

In [109]:
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [110]:
library(dplyr)
head(diamonds)

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:plyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [111]:
diamonds

      carat cut       color clarity depth table price x    y    z
1     0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2     0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3     0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4     0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5     0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6     0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48
7     0.24  Very Good I     VVS1    62.3  57    336   3.95 3.98 2.47
8     0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53
9     0.22  Fair      E     VS2     65.1  61    337   3.87 3.78 2.49
10    0.23  Very Good H     VS1     59.4  61    338   4.00 4.05 2.39
11    0.30  Good      J     SI1     64.0  55    339   4.25 4.28 2.73
12    0.23  Ideal     J     VS1     62.8  56    340   3.93 3.90 2.46
13    0.22  Premium   F     SI1     60.4  61    342   3.88 3.84 2.33
14    0.31  Ideal     J     SI2     62.2  54    344   4.35 4.37 2.71
15    0.20  Premium   E     SI2     60.2  62    345   3.79 3.75 2.27
16    0.32  Premium   E     I1      60.9  58    345   4.38 4.42 2.68
17    0.30  Ideal     I     SI2     62.0  54    348   4.31 4.34 2.68
18    0.30  Good      J     SI1     63.4  54    351   4.23 4.29 2.70
19    0.30  Good      J     SI1     63.8  56    351   4.23 4.26 2.71
20    0.30  Very Good J     SI1     62.7  59    351   4.21 4.27 2.66
21    0.30  Good      I     SI2     63.3  56    351   4.26 4.30 2.71
22    0.23  Very Good E     VS2     63.8  55    352   3.85 3.92 2.48
23    0.23  Very Good H     VS1     61.0  57    353   3.94 3.96 2.41
24    0.31  Very Good J     SI1     59.4  62    353   4.39 4.43 2.62
25    0.31  Very Good J     SI1     58.1  62    353   4.44 4.47 2.59
26    0.23  Very Good G     VVS2    60.4  58    354   3.97 4.01 2.41
27    0.24  Premium   I     VS1     62.5  57    355   3.97 3.94 2.47
28    0.30  Very Good J     VS2     62.2  57    357   4.28 4.30 2.67
29    0.23  Very Good D     VS2     60.5  61    357   3.96 3.97 2.40
30    0.23  Very Good F     VS1     60.9  57    357   3.96 3.99 2.42
...   ...   ...       ...   ...     ...   ...   ...   ...  ...  ...
53911 0.70  Premium   E     SI1     60.5  58    2753  5.74 5.77 3.48
53912 0.57  Premium   E     IF      59.8  60    2753  5.43 5.38 3.23
53913 0.61  Premium   F     VVS1    61.8  59    2753  5.48 5.40 3.36
53914 0.80  Good      G     VS2     64.2  58    2753  5.84 5.81 3.74
53915 0.84  Good      I     VS1     63.7  59    2753  5.94 5.90 3.77
53916 0.77  Ideal     E     SI2     62.1  56    2753  5.84 5.86 3.63
53917 0.74  Good      D     SI1     63.1  59    2753  5.71 5.74 3.61
53918 0.90  Very Good J     SI1     63.2  60    2753  6.12 6.09 3.86
53919 0.76  Premium   I     VS1     59.3  62    2753  5.93 5.85 3.49
53920 0.76  Ideal     I     VVS1    62.2  55    2753  5.89 5.87 3.66
53921 0.70  Very Good E     VS2     62.4  60    2755  5.57 5.61 3.49
53922 0.70  Very Good E     VS2     62.8  60    2755  5.59 5.65 3.53
53923 0.70  Very Good D     VS1     63.1  59    2755  5.67 5.58 3.55
53924 0.73  Ideal     I     VS2     61.3  56    2756  5.80 5.84 3.57
53925 0.73  Ideal     I     VS2     61.6  55    2756  5.82 5.84 3.59
53926 0.79  Ideal     I     SI1     61.6  56    2756  5.95 5.97 3.67
53927 0.71  Ideal     E     SI1     61.9  56    2756  5.71 5.73 3.54
53928 0.79  Good      F     SI1     58.1  59    2756  6.06 6.13 3.54
53929 0.79  Premium   E     SI2     61.4  58    2756  6.03 5.96 3.68
53930 0.71  Ideal     G     VS1     61.4  56    2756  5.76 5.73 3.53
53931 0.71  Premium   E     SI1     60.5  55    2756  5.79 5.74 3.49
53932 0.71  Premium   F     SI1     59.8  62    2756  5.74 5.73 3.43
53933 0.70  Very Good E     VS2     60.5  59    2757  5.71 5.76 3.47
53934 0.70  Very Good E     VS2     61.2  59    2757  5.69 5.72 3.49
53935 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58
53936 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50
53937 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61
53938 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
53939 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
53940 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

In [112]:
select(diamonds, carat, price)

      carat price
1     0.23  326
2     0.21  326
3     0.23  327
4     0.29  334
5     0.31  335
6     0.24  336
7     0.24  336
8     0.26  337
9     0.22  337
10    0.23  338
11    0.30  339
12    0.23  340
13    0.22  342
14    0.31  344
15    0.20  345
16    0.32  345
17    0.30  348
18    0.30  351
19    0.30  351
20    0.30  351
21    0.30  351
22    0.23  352
23    0.23  353
24    0.31  353
25    0.31  353
26    0.23  354
27    0.24  355
28    0.30  357
29    0.23  357
30    0.23  357
...   ...   ...
53911 0.70  2753
53912 0.57  2753
53913 0.61  2753
53914 0.80  2753
53915 0.84  2753
53916 0.77  2753
53917 0.74  2753
53918 0.90  2753
53919 0.76  2753
53920 0.76  2753
53921 0.70  2755
53922 0.70  2755
53923 0.70  2755
53924 0.73  2756
53925 0.73  2756
53926 0.79  2756
53927 0.71  2756
53928 0.79  2756
53929 0.79  2756
53930 0.71  2756
53931 0.71  2756
53932 0.71  2756
53933 0.70  2757
53934 0.70  2757
53935 0.72  2757
53936 0.72  2757
53937 0.72  2757
53938 0.70  2757
53939 0.86  2757
53940 0.75  2757

In [113]:
diamonds %>% select(carat, price)

      carat price
1     0.23  326
2     0.21  326
3     0.23  327
4     0.29  334
5     0.31  335
6     0.24  336
7     0.24  336
8     0.26  337
9     0.22  337
10    0.23  338
11    0.30  339
12    0.23  340
13    0.22  342
14    0.31  344
15    0.20  345
16    0.32  345
17    0.30  348
18    0.30  351
19    0.30  351
20    0.30  351
21    0.30  351
22    0.23  352
23    0.23  353
24    0.31  353
25    0.31  353
26    0.23  354
27    0.24  355
28    0.30  357
29    0.23  357
30    0.23  357
...   ...   ...
53911 0.70  2753
53912 0.57  2753
53913 0.61  2753
53914 0.80  2753
53915 0.84  2753
53916 0.77  2753
53917 0.74  2753
53918 0.90  2753
53919 0.76  2753
53920 0.76  2753
53921 0.70  2755
53922 0.70  2755
53923 0.70  2755
53924 0.73  2756
53925 0.73  2756
53926 0.79  2756
53927 0.71  2756
53928 0.79  2756
53929 0.79  2756
53930 0.71  2756
53931 0.71  2756
53932 0.71  2756
53933 0.70  2757
53934 0.70  2757
53935 0.72  2757
53936 0.72  2757
53937 0.72  2757
53938 0.70  2757
53939 0.86  2757
53940 0.75  2757